## READ THE DATASET

In [52]:
import pandas as pd
data1=pd.read_csv('PLAYER_REGULAR2324.csv')
print(data1)

     Unnamed: 0                     NAME TEAM POS   AGE  GP   MPG  USG%  FTA  \
0             0              Joel Embiid  Phi   C  30.1  39  33.6  39.6  452
1             1              Luka Doncic  Dal   G  25.1  70  37.5  36.0  608
2             2    Giannis Antetokounmpo  Mil   F  29.4  73  35.2  33.0  782
3             3  Shai Gilgeous-Alexander  Okc   G  25.8  75  34.0  32.9  649
4             4            Jalen Brunson  Nyk   G  27.6  77  35.4  32.5  497
..          ...                      ...  ...  ..   ...  ..   ...   ...  ...
652         652           Justin Jackson  Min   F  29.1   2   0.4   0.0    0
653         653           Jalen Crutcher  Nor   G  24.7   1   2.7  16.1    0
654         654              Andrew Funk  Chi   G  24.6   5   2.7  13.1    0
655         655            Jacob Gilyard  Bro   G  25.8   4  11.2   6.8    0
656         656           Mamadi Diakite  Nyk   F  27.2   3   2.8  10.2    0

       FT%  ...    TS%   PPG   RPG  APG  SPG  BPG  TPG   ORtg   DRtg   Season
0    0.883  ...  0.644  34.7  11.0  5.6  1.2  1.7  3.8  124.0  104.8  2023-24
1    0.786  ...  0.617  33.9   9.2  9.8  1.4  0.5  4.0  121.9  109.9  2023-24
2    0.657  ...  0.648  30.4  11.5  6.5  1.2  1.1  3.4  125.6  106.9  2023-24
3    0.874  ...  0.636  30.1   5.5  6.2  2.0  0.9  2.2  128.6  107.7  2023-24
4    0.847  ...  0.592  28.7   3.6  6.7  0.9  0.2  2.4  124.2  112.6  2023-24
..     ...  ...    ...   ...   ...  ...  ...  ...  ...    ...    ...      ...
652  0.000  ...  0.000   0.0   0.0  0.0  0.0  0.0  0.0    0.0    0.0  2023-24
653  0.000  ...  0.000   0.0   0.0  0.0  0.0  0.0  0.0    0.0    0.0  2023-24
654  0.000  ...  0.000   0.0   0.0  0.0  0.2  0.2  0.0    0.0    0.0  2023-24
655  0.000  ...  0.000   0.0   0.8  1.5  1.5  0.0  0.3   57.7  106.2  2023-24
656  0.000  ...  0.000   0.0   0.3  0.0  0.3  0.0  0.3    0.0    0.0  2023-24

[657 rows x 24 columns]

In [59]:
data1['TEAM'].value_counts()

TEAM
Mem    33
Det    31
Tor    30
Phi    28
Nyk    26
Cha    26
Was    24
Dal    22
Ind    22
Okc    22
Pho    22
Por    22
Bro    21
Uta    21
Lac    21
Mia    21
Lal    21
Mil    21
Nor    20
Sac    20
San    20
Atl    19
Min    19
Bos    19
Gol    18
Orl    18
Cle    18
Chi    18
Den    17
Hou    17
Name: count, dtype: int64

## DROP UNECESSARY ATTRIBUTES

In [48]:
columns_drop = ['rSOS','SOS','eWIN%','A4F','SAR','RANK','CONS']
data1.drop(columns_drop,axis=1,inplace=True)

KeyError: "['rSOS', 'SOS', 'eWIN%', 'A4F', 'SAR', 'RANK', 'CONS'] not found in axis"

In [49]:
print(data1)

    Unnamed: 0           TEAM  CONF   DIVISION  GP  PPG  oPPG  pDIFF  PACE  \
0            0      Cleveland  East    Central   1   97    83     14  96.3
1            1       New York  East   Atlantic   1  111   104      7  87.8
2            2      Milwaukee  East    Central   1  109    94     15  97.9
3            3         Boston  East   Atlantic   1  114    94     20  88.1
4            4        Orlando  East  Southeast   1   83    97    -14  96.3
5            5   Philadelphia  East   Atlantic   1  104   111     -7  87.8
6            6        Indiana  East    Central   1   94   109    -15  97.9
7            7          Miami  East  Southeast   1   94   114    -20  88.1
8            8      Minnesota  West  Northwest   1  120    95     25  96.2
9            9         Denver  West  Northwest   1  114   103     11  92.3
10          10    LA Clippers  West    Pacific   1  109    97     12  93.2
11          11  Oklahoma City  West  Northwest   1   94    92      2  93.0
12          12        Phoenix  West    Pacific   1   95   120    -25  96.2
13          13      LA Lakers  West    Pacific   1  103   114    -11  92.3
14          14         Dallas  West  Southwest   1   97   109    -12  92.9
15          15    New Orleans  West  Southwest   1   92    94     -2  93.0

     oEFF   dEFF  eDIFF  W  L  WIN%  pWIN%    ACH  STRK
0   100.7   86.2   14.5  1  0   1.0  0.961  0.173     1
1   126.4  118.4    8.0  1  0   1.0  0.730  0.307     6
2   111.3   96.0   15.3  1  0   1.0  0.994  0.171     1
3   129.5  106.8   22.7  1  0   1.0  1.159  0.076     3
4    86.2  100.7  -14.5  0  1   0.0  0.039 -0.167    -1
5   118.4  126.4   -8.0  0  1   0.0  0.270 -0.309    -1
6    96.0  111.3  -15.3  0  1   0.0  0.006 -0.157    -1
7   106.8  129.5  -22.7  0  1   0.0 -0.159 -0.067    -1
8   124.7   98.7   26.0  1  0   1.0  1.323  0.030     1
9   123.5  111.6   11.9  1  0   1.0  0.862  0.197     2
10  117.4  104.5   12.9  1  0   1.0  0.895  0.183     1
11  101.1   98.9    2.2  1  0   1.0  0.566  0.449     6
12   98.7  124.7  -26.0  0  1   0.0 -0.323 -0.019    -1
13  111.6  123.5  -11.9  0  1   0.0  0.138 -0.214    -1
14  104.5  117.4  -12.9  0  1   0.0  0.105 -0.235    -3
15   98.9  101.1   -2.2  0  1   0.0  0.434 -0.449    -1

In [43]:
data1

,TEAM,CONF,DIVISION,GP,PPG,oPPG,pDIFF,PACE,oEFF,dEFF,eDIFF,W,L,WIN%,pWIN%,ACH,STRK
0,Cleveland,East,Central,1,97,83,14,96.3,100.7,86.2,14.5,1,0,1.0,0.961,0.173,1
1,New York,East,Atlantic,1,111,104,7,87.8,126.4,118.4,8.0,1,0,1.0,0.730,0.307,6
2,Milwaukee,East,Central,1,109,94,15,97.9,111.3,96.0,15.3,1,0,1.0,0.994,0.171,1
3,Boston,East,Atlantic,1,114,94,20,88.1,129.5,106.8,22.7,1,0,1.0,1.159,0.076,3
4,Orlando,East,Southeast,1,83,97,-14,96.3,86.2,100.7,-14.5,0,1,0.0,0.039,-0.167,-1
5,Philadelphia,East,Atlantic,1,104,111,-7,87.8,118.4,126.4,-8.0,0,1,0.0,0.270,-0.309,-1
6,Indiana,East,Central,1,94,109,-15,97.9,96.0,111.3,-15.3,0,1,0.0,0.006,-0.157,-1
7,Miami,East,Southeast,1,94,114,-20,88.1,106.8,129.5,-22.7,0,1,0.0,-0.159,-0.067,-1
8,Minnesota,West,Northwest,1,120,95,25,96.2,124.7,98.7,26.0,1,0,1.0,1.323,0.030,1
9,Denver,West,Northwest,1,114,103,11,92.3,123.5,111.6,11.9,1,0,1.0,0.862,0.197,2
10,LA Clippers,West,Pacific,1,109,97,12,93.2,117.4,104.5,12.9,1,0,1.0,0.895,0.183,1
11,Oklahoma City,West,Northwest,1,94,92,2,93.0,101.1,98.9,2.2,1,0,1.0,0.566,0.449,6
12,Phoenix,West,Pacific,1,95,120,-25,96.2,98.7,124.7,-26.0,0,1,0.0,-0.323,-0.019,-1
13,LA Lakers,West,Pacific,1,103,114,-11,92.3,111.6,123.5,-11.9,0,1,0.0,0.138,-0.214,-1
14,Dallas,West,Southwest,1,97,109,-12,92.9,104.5,117.4,-12.9,0,1,0.0,0.105,-0.235,-3
15,New Orleans,West,Southwest,1,92,94,-2,93.0,98.9,101.1,-2.2,0,1,0.0,0.434,-0.449,-1

In [44]:
data1.isna().sum()

TEAM        0
CONF        0
DIVISION    0
GP          0
PPG         0
oPPG        0
pDIFF       0
PACE        0
oEFF        0
dEFF        0
eDIFF       0
W           0
L           0
WIN%        0
pWIN%       0
ACH         0
STRK        0
dtype: int64

## CREATE PATH FOR FINAL DATASET

In [45]:
path='/Users/paterosthodoris/Desktop/STAT/SPRING_2024/STAT_6289/Final_Project/DATA/TEAM_PLAYOFF2324.csv'
data1.to_csv(path,index=1)

In [ ]:
import pandas as pd
data1=pd.read_csv('TEAM_PLAYOFF2324.csv')
print(data1)